RewriteEngine On
RewriteBase /

# Nếu file hoặc thư mục có thật → load bình thường
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Tất cả request còn lại → đưa vào index.php
RewriteRule ^ index.php [L]
