/* compiled by scssphp v0.0.12 on Wed, 01 Jun 2022 14:58:14 +1200 (0.133s) */

/* Products SCSS Document */
/* Multiple images */
table.wishlist {
  width: 100%;
  margin-bottom: 30px;
}
table.wishlist th, table.wishlist td {
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}
table.wishlist td.image img {
  width: 80px;
  max-width: 999px;
}
table.wishlist td.title {
  width: 100%;
  white-space: normal;
}
table.wishlist .price {
  text-align: right;
}
table.wishlist .qty {
  text-align: center;
}
table.wishlist small {
  display: block;
  line-height: 1.2;
}
table.wishlist input.text {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
  vertical-align: top;
}
table.wishlist .qty.spinner a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #f6f6f6;
  color: #8b8a8d;
  text-align: center;
  vertical-align: top;
}
table.wishlist .qty.spinner input.text {
  border-color: #f6f6f6;
}
.product-notes {
  padding-top: 30px;
  color: #918f8f;
  font-size: 13px;
  line-height: 1.4;
}
.product-share-links {
  padding-top: 30px;
}
.delivery-costs {
  display: none;
  padding-top: 30px;
}
.subcategories, .products {
  display: block;
  /* Grid of images next to text */
}
.subcategories .product-item, .products .product-item {
  display: inline-block;
  margin-bottom: 20px;
}
.subcategories .module-image, .products .module-image {
  display: block;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.subcategories .module-image img, .products .module-image img {
  width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.subcategories a.product-item:hover .module-image, .products a.product-item:hover .module-image {
  opacity: 0.7;
}
.subcategories .module-text p, .products .module-text p {
  display: block;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.subcategories .product-item-relevance, .products .product-item-relevance {
  display: none;
}
.subcategories .product-item-special, .products .product-item-special {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: #ff9800;
  margin-right: 5px;
}
.subcategories .product-item-new, .products .product-item-new {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: #4caf50;
  margin-right: 5px;
}
.subcategories .product-item-instock, .products .product-item-instock {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: #2196f3;
  margin-right: 5px;
}
.subcategories .module-text .product-item-text-price, .products .module-text .product-item-text-price {
  display: block;
  font-weight: bold;
}
.subcategories, .products {
  /* Grid of images with text under */
}
.subcategories.imageside .product-item, .products.imageside .product-item {
  position: relative;
}
.subcategories.imageside .module-image, .products.imageside .module-image {
  float: left;
  width: 40%;
  display: block;
}
.subcategories.imageside.grid.one-column .module-image, .products.imageside.grid.one-column .module-image {
  width: 20%;
}
.subcategories.imageside.grid.seven-column .module-image, .products.imageside.grid.seven-column .module-image, .subcategories.imageside.grid.six-column .module-image, .products.imageside.grid.six-column .module-image, .subcategories.imageside.grid.five-column .module-image, .products.imageside.grid.five-column .module-image {
  width: 100%;
  padding-bottom: 5px;
}
.subcategories.imageside .module-text, .products.imageside .module-text {
  float: left;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* If image shown */
}
.subcategories.imageside .module-image + .module-text, .products.imageside .module-image + .module-text {
  width: 60%;
  padding-left: 20px;
}
.subcategories.imageside.grid.one-column .module-image + .module-text, .products.imageside.grid.one-column .module-image + .module-text {
  width: 80%;
}
.subcategories.imageside.grid.seven-column .module-text, .products.imageside.grid.seven-column .module-text, .subcategories.imageside.grid.six-column .module-text, .products.imageside.grid.six-column .module-text, .subcategories.imageside.grid.five-column .module-text, .products.imageside.grid.five-column .module-text {
  width: 100%;
  padding-left: 0px;
}
.subcategories, .products {
  /* Grid of boxed images with text under */
}
.subcategories.textunder .product-item, .products.textunder .product-item {
  position: relative;
}
.subcategories.textunder .module-image, .products.textunder .module-image {
  width: 100%;
  display: block;
  padding-bottom: 5px;
  /* Uncropped images */
}
.subcategories.textunder .module-image.uncropped, .products.textunder .module-image.uncropped {
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.subcategories.textunder.grid.two-column .module-image.uncropped, .products.textunder.grid.two-column .module-image.uncropped, .subcategories.textunder.grid.one-column .module-image.uncropped, .products.textunder.grid.one-column .module-image.uncropped {
  height: 250px;
  line-height: 250px;
}
.subcategories.textunder .module-text, .products.textunder .module-text {
  width: 100%;
  display: block;
}
.subcategories, .products {
  /* Product summary */
}
.subcategories.boxed .product-item, .products.boxed .product-item {
  padding: 10px 10px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.subcategories.boxed .module-image, .products.boxed .module-image {
  width: 100%;
  display: block;
  padding-bottom: 5px;
  /* Uncropped images */
}
.subcategories.boxed .module-image.uncropped, .products.boxed .module-image.uncropped {
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.subcategories.boxed.grid.two-column .module-image.uncropped, .products.boxed.grid.two-column .module-image.uncropped, .subcategories.boxed.grid.one-column .module-image.uncropped, .products.boxed.grid.one-column .module-image.uncropped {
  height: 250px;
  line-height: 250px;
}
.subcategories.boxed .module-text, .products.boxed .module-text {
  width: 100%;
  display: block;
}
ul.products-summary {
  list-style-type: none;
  padding: 10px 0;
  margin: 0 0 0 0;
}
ul.products-summary ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
ul.products-summary li {
  background-image: none;
  list-style-type: none;
  padding: 0 0 0 24px;
  margin: 0 0 0 0;
  position: relative;
}
ul.products-summary li:before {
  display: none;
}
ul.products-summary li .bullet {
  position: absolute;
  left: 0px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
}
ul.products-summary li .uncollapsed.bullet [class^="icon-"], ul.products-summary li .uncollapsed.bullet [class*=" icon-"], ul.products-summary li .uncollapsed.bullet .material-icons {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
ul.products-summary li .bullet [class^="icon-"], ul.products-summary li .bullet [class*=" icon-"], ul.products-summary li .bullet .material-icons {
  font-size: 20px;
  vertical-align: middle;
  display: inline-block;
  padding-bottom: 3px;
  -moz-transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
ul.products-summary li .count {
  display: inline-block;
  padding-left: 5px;
  font-size: 12px;
  /* Product search */
}
.products-search {
  display: block;
  text-align: center;
}
.products-search form {
  display: inline-block;
  width: 100%;
  max-width: 498px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.products-search input[type=text] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*border:none;*/
  background: none;
  width: 100%;
  height: 32px;
  line-height: 24px;
  /*border:solid #e1e1e1 1px;*/
  border-radius: 0px;
  padding: 4px 84px 4px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.products-search button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  line-height: 24px;
  padding: 4px 12px 4px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.products-search button:hover {
  cursor: pointer;
}
.products-search button .material-icons {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  /* Product details */
}
.product-details-image {
  float: right;
  display: inline-block;
  max-width: 50%;
  text-align: center;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.layout.middle .product-details-image, .layout.half .product-details-image, .layout.third .product-details-image, .layout.side .product-details-image {
  width: 100%;
  max-width: 100%;
  padding-left: 0px;
  padding-bottom: 10px;
  /* Multiple images height */
}
.product-details-images {
  width: 100%;
  max-width: 100%;
  padding-top: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f6f6f6;
}
.product-details-images .tags {
  position: absolute;
  z-index: 610;
  left: 0;
  top: 0;
}
.product-details-images .tags span {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-right: 5px;
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
.product-details-images .tags span.product-item-new {
  background: #2f3192;
}
.product-details-images .tags span.product-item-recycled {
  background: #808080;
}
.product-details-images-zoom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  pointer-events: none;
  z-index: 610;
  background: rgba(255, 255, 255, 0.5);
  color: #231f20 !important;
}
.product-details-images-zoom [class^="icon-"], .product-details-images-zoom [class*=" icon-"], .product-details-images-zoom .material-icons {
  font-size: 30px;
  line-height: 1;
}
.product-details-images-img {
  display: inline-block;
  left: 0px;
  width: 100%;
  text-align: center;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 500;
}
.product-details-images-img.current-image {
  -moz-transition: all 0.7s ease-out 0.1s;
  -webkit-transition: all 0.7s ease-out 0.1s;
  transition: all 0.7s ease-out 0.1s;
  opacity: 1;
  z-index: 600;
}
.product-details-images-img img {
  width: auto;
  vertical-align: middle;
  /* Multiple images thumbnails */
}
.product-details-thumbnails {
  width: 100%;
  max-width: 100%;
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}
.product-details-thumbnails a {
  display: inline-block;
  max-height: 100px;
  padding: 10px 10px 0 0;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: top;
}
.product-details-thumbnails a.current-image img {
  max-height: 100px;
}
.product-details-thumbnails img {
  width: auto;
  max-height: 100px;
  vertical-align: middle;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.product-details-thumbnails a:hover {
  opacity: 0.7;
}
.product-details-thumbnails .video-thumbnail {
  color: #231f20;
  padding: 0 0 0 0;
  background: #f6f6f6;
  margin: 10px 10px 0 0;
  position: relative;
}
.product-details-thumbnails .video-thumbnail [class*="fa-"] {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-top: -17px;
}
.product-details-thumbnails .video-thumbnail:hover {
  color: #fff;
  background: #2f3192;
  opacity: 1;
}
.product-details-description {
  padding-bottom: 20px;
}
.product-details-description-links {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-page .content h1 {
  color: inherit;
  font-size: 36px;
  line-height: 1.5;
  /* Product buy box holds purchase details */
}
.product-details-buy-container {
  display: flex;
  padding-top: 20px;
}
.product-details-buy-container > input[type=submit] {
  height: 49px;
  line-height: 49px;
  margin-right: 12px;
  background: #ffca0d;
  color: #231f20;
  box-sizing: border-box;
}
.product-details-buy-container > input[type=submit]:hover {
  background: #ffda56;
}
.product-details-buy-container > .button, .product-details-buy-container > .wishlist-button {
  height: 49px;
  line-height: 49px;
  background: #2f3192;
  color: #fff;
  text-align: center;
  transition: 0.2s;
}
.product-details-buy-container > .button {
  padding: 0 35px;
}
.product-details-buy-container > .wishlist-button {
  width: 49px;
}
.product-details-buy-container > .button:hover, .product-details-buy-container > .wishlist-button:hover {
  background: #212266;
}
.product-details-buy-container > .button + .wishlist-button, .product-details-buy-container > input[type=submit] + .wishlist-button {
  margin-left: 12px;
}
.product-details-buy h4 {
  padding: 0 0 4px 0;
  font-size: 13px;
}
.product-details-buy-price {
  margin-right: 15px;
  padding-bottom: 10px;
  display: none;
}
.product-details-buy-price:empty {
  display: none !important;
}
.product-details-buy-price h2 {
  padding: 0;
  color: #2f3192;
  font-size: 28px;
}
.product-details-buy-price .price-post {
  font-size: 14px;
  font-weight: normal;
  vertical-align: text-top;
  /* Holds available options to buy */
}
.product-details-buy-options {
  padding-bottom: 5px;
  padding-top: 20px;
  display: none;
  /* Options variation for multiple dropdowns */
}
.dropdown-options .buy-dropdowns {
  display: flex;
  margin-bottom: 6px;
}
.dropdown-options .buy-dropdowns-title {
  display: block;
  width: 18%;
  height: 38px;
  line-height: 38px;
  padding-right: 20px;
}
.product-shipping-dropdown {
  display: flex;
  margin-bottom: 6px;
}
.product-shipping-dropdown :first-child {
  display: block;
  width: 18%;
  height: 38px;
  line-height: 38px;
  padding-right: 20px;
}
.product-shipping-dropdown :last-child {
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* Options variation for multiple radio buttons */
}
.radio-options .buy-radio-group {
  margin-bottom: 6px;
}
.radio-options .buy-radio-group-title {
  display: block;
  font-weight: bold;
}
.radio-options input {
  display: none;
}
.radio-options label {
  display: inline-block;
  padding: 1px 3px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin: 0 5px 5px 0;
  cursor: pointer;
}
.radio-options input:checked + label {
  color: #fff;
  background-color: #000;
}
.product-details-buy-options select {
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.product-details-buy .price-extra {
  display: inline-block;
  color: #918f8f;
  font-size: 13px;
  text-transform: uppercase;
}
.product-details-buy .price-extra span {
  display: inline-block;
  margin-right: 15px;
  /* Add container holds the quatity and add button */
}
.product-details-buy-add {
  margin-bottom: 10px;
}
.hide-titles .product-details-buy-add {
  display: none;
}
.product-details-buy-add-title {
  font-weight: bold;
}
.product-details-buy-add-quantity {
  display: none;
}
.product-details-buy-add-quantity a {
  display: inline-block;
  width: 49px;
  height: 49px;
  line-height: 49px;
  background: #f6f6f6;
  color: #8b8a8d;
  text-align: center;
}
.product-details-buy-add-quantity input {
  width: 49px;
  height: 49px;
  padding: 0;
  border: 1px solid #f6f6f6;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* Out of stock container holds out of stock message */
}
.product-details-buy-outofstock {
  margin-bottom: 10px;
}
.buy-product .view-cart-link {
  margin-top: 10px;
  display: none;
  /* Product items */
}
.product-item-old {
  float: left;
  width: 24%;
  text-align: center;
  padding: 4px 4px;
  border: solid #e1e1e1 1px;
  margin-right: 1%;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.product-item-old .product-item-image {
  display: block;
  padding-bottom: 4px;
}
.product-item-old .product-item-image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  vertical-align: bottom;
}
.products-holder div:nth-child(4n+4) {
  margin-right: 0%;
}
.products-holder div:nth-child(4n+5) {
  clear: both;
  /* Products price list */
}
.pricelist {
  padding-left: 20px;
}
.pricelist-header {
  font-weight: bold;
}
.pricelist-item {
  border-top: solid #e1e1e1 1px;
}
.pricelist-product {
  float: left;
  width: 45%;
  margin-right: 2%;
  padding-bottom: 6px;
  padding-top: 4px;
}
.pricelist-price {
  float: left;
  width: 20%;
  margin-right: 2%;
  padding-bottom: 6px;
  padding-top: 4px;
}
.pricelist-inclusive {
  float: left;
  width: 15%;
  margin-right: 2%;
  padding-bottom: 6px;
  padding-top: 4px;
}
.pricelist-qty {
  float: right;
  width: 14%;
  text-align: right;
  padding-bottom: 6px;
  padding-top: 4px;
}
.pricelist-qty input {
  width: 95%;
  /* Media queries */
}
